.groker__input-field {
	@include useThemeBg($white_light, $black-light);
	@include useThemeText($black, $white);
	background: transparent;
	border: 1px solid $white-dark;
	border-radius: $border-radius;
	font-size: $font-size;
	height: 100%;
	padding: $gap;
	outline: none;
	position: relative;
	margin-top: 7px; // distancia minima de margen para que el label no se superponga a otros elementos

	.groker__input-label {
		@include useThemeBg($white_light, $black-light);
		position: absolute;
		top: -8px;
		left: $gap;
		padding: 0 5px;
		font-size: $font-size-small;
		font-weight: normal;
	}
	.groker__input-element {
		border: none;
		width: 100%;
		outline: none;
		color: inherit;
		background: none;
		font-size: inherit;
		&:focus {
			border-color: $primary;
		}
	}

	&.dark option {
		background: $black-light;
	}

	&.groker__date-field {
		display: flex;
		align-items: center;
		position: relative;

		.groker__date-input,
		.groker__date-button {
			color: inherit;
			cursor: pointer;
			height: $full;
			border: none;
		}

		.groker__date-input {
			width: 100%;
			font-size: inherit;
			outline: none;
			background: none;
		}
		.groker__date-button {
			@include useThemeBg($white_light, $black-light);
			width: 10%;
			right: 0;
			position: absolute;
		}
	}
}
