.groker__tooltip-wrapper {
  position: relative;
  display: inline-flex;
}

.groker__tooltip {
  position: absolute;
  z-index: 1000;
  padding: 6px 12px;
  background: $black_light;
  color: $white;
  font-size: $font-size-small;
  border-radius: $border-radius;
  white-space: nowrap;
  pointer-events: none;
  @extend %elevation-2;

  &--top {
    bottom: calc(100% + 6px);
    left: 50%;
    transform: translateX(-50%);
  }
  &--bottom {
    top: calc(100% + 6px);
    left: 50%;
    transform: translateX(-50%);
  }
  &--left {
    right: calc(100% + 6px);
    top: 50%;
    transform: translateY(-50%);
  }
  &--right {
    left: calc(100% + 6px);
    top: 50%;
    transform: translateY(-50%);
  }
}
