.icon-menu__bar--right-arrow {
  &::before,
  &::after {
    width: 30px;
    top: -0.5em;
    right: -0.1em;
    transform: rotate(35deg);
  }

  &::after {
    transform: rotate(-35deg);
    top: 0.5em;
  }
}
