.groker__textarea-field {
  display: flex;
  flex-direction: column;
  gap: 6px;

  &.light {
    color: $text;
  }
  &.dark {
    color: $white;
  }
}

.groker__textarea-label {
  font-size: $font-size-small;
  font-weight: 500;
}

.groker__textarea-element {
  width: 100%;
  padding: 10px;
  border: 1px solid $grey_light;
  border-radius: $border-radius;
  font-size: $font-size;
  font-family: inherit;
  resize: vertical;
  outline: none;

  &:focus {
    border-color: $primary;
  }
}
